@import "../../../assets/styles/setup/variables";
@import "../../../assets/styles/setup/mixins";
@import "../../../assets/styles/basics/helpers";

.app-header {
    width: 100%;
    background-color: $clr1;
    color: $clr2;
    padding: 0.75rem 24px;

    @include for-narrow-layout {
        padding: 0.75rem 40px;     
    }
    
    @include for-wide-layout {
        padding: 0.75rem 80px ;   
    }
    
   .login-link{
    color: $clr2;
   }

    a {

        &:hover {
            text-decoration: none;
        }
    }

    img {
        width: 160px;
        height: 100%;
    }

    nav {
        gap: 0.5rem;
        font-size: 1.75rem;
        padding-top: 0.5rem;

        .active{
            color: $clr3;
        }
       
        a{
            color: $clr2;     
        }
    }
}