// Setup
@import "../../../assets/styles/setup/variables";
@import "../../../assets/styles/setup/mixins";
@import "../../../assets/styles/basics/helpers";
// @import "../../../assets/styles/setup/mixins";
// @import "../../assets/styles/setup/functions.scss";
// @import "../../assets/styles/setup/mixins.scss";
// @import "../../assets/styles/setup/typography.scss";

// // // Basics
// @import "../../assets/styles/basics/helpers.scss";
// @import "../../assets/styles/basics/layout.scss";
// @import "../../assets/styles/basics/base.scss";
// @import "../../assets/styles/basics/forms.scss";

.app-header {
    width: 100%;
    background-color: $clr1;
    color: $clr2;
    padding: 0.75rem 24px 0.75rem 9px;

    @include for-narrow-layout {
        padding: 0.75rem 40px 0.75rem 25px;     
    }
    
    @include for-wide-layout {
        padding: 0.75rem 80px  0.75rem 65px;   
    }
    
   .login-link{
    color: $clr2;
   }

    a {

        &:hover {
            text-decoration: none;
        }
    }

    img {
        width: 160px;
        height: 100%;
    }

    nav {
        gap: 0.5rem;
        font-size: 1.75rem;
        padding-top: 0.5rem;

        .active{
            color: $clr3;
        }
       
        a{
            color: $clr2;     
        }
    }
}