@import "../../../assets/styles/setup/variables";
@import "../../../assets/styles/setup/mixins";
@import "../../../assets/styles/basics/helpers";

.chart-title{
    font-size: 3rem;
    text-align: center;
    margin: 0 auto 0;
    padding: 4rem 0 2rem;
}

#myChart{
    width: 88vw !important;
    background-color: $clr2;
    margin: 0 auto 3rem !important;

    @include for-narrow-layout {
        width: 60vw !important;
    }
}
