// Colors
$clr1: #0EA47A;
$clr2: white;
$clr3: #D25CEE;
$clr4: #4B44B8;
$clr7: #f15b85;
$clr8: lightgrey;

$clr5: #003AD2;
$clr6: #dff0ea;
$bgclr1: #000330;
$bgclr2: #4B44B8;
$shadow1: 0px 4px 14px 0px rgba(72, 72, 72, 0.4);


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 745px;
$medium-breakpoint: 950px;
$normal-breakpoint: 1125px;
$wide-breakpoint: 1390px;
$ultra-wide-breakpoint: 1920px;