// Colors
$clr1: #151555;
$clr2: white;
$clr3: #34B3FC;
$clr4: #6647CD;
$clr5:#8554FE;


$clr8: lightgrey;

// $clr5: #003AD2;
$clr6: #dff0ea;
$bgclr1: #000330;
$bgclr2: #4B44B8;
$shadow1: 0px 4px 14px 0px rgba(72, 72, 72, 0.4);


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 765px;
$medium-breakpoint: 950px;
$normal-breakpoint: 1125px;
$wide-breakpoint: 1390px;
$ultra-wide-breakpoint: 1920px;