button {
    border: none;
    cursor: pointer;
}

form > * {
    display: block;
    width: 200px;
    margin: 10px 0px;
}

.btn-link {
    border:0;
    background-color: transparent;
    text-decoration: underline;
    transition: .5s;
}
.btn-link:hover {
    background-color: $clr1;
    transform: scale(1.1);
}

.btn-main{
    background-color: $clr4;
    color: $clr2;
    transition: 0.3s;
    display: block;

    &:hover{
        background-color: $clr2;
        color: $clr4;
    }
}
