@import "../../../assets/styles/setup/variables";
@import "../../../assets/styles/setup/mixins";
@import "../../../assets/styles/basics/helpers";

.nation-preview{
    font-size: 1.4rem;
    transition: 0.3s;

    &:hover{
        background-color: rgba($color: lighten($color: $clr4, $amount: 15), $alpha: 0.3);
        cursor: pointer;
    }

    td{
        width: 33%;
        padding: 1rem 2rem;
    }
}